#common-header{
    background-color:rgb(233,32,61);
    color:#fff;
    padding:15px 10px;
    text-align: center;
    position: relative;
}
#common-header h2{
    font-size:16px;
    display: inline;
    line-height: 1;
}
#common-header .back-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    display: block;
}
#common-header .back-icon i{
    font-size: 16px;
    line-height: 1.3;
}