#home-header{
    background-color:rgb(233,32,61);
    padding:10px;
}
#home-header *{
    font-size:16px;
    color:#fff;
    line-height:1;
    user-select: none;
}
.home-header-left{
    width:60px;
    text-align: left;
    margin:5px 0;
}
.home-header-right{
    width:30px;
    text-align: right;
    margin:5px 0;
}
.home-header-middler{
    width:auto;
    margin:0 30px 0 60px;
}
.home-header-middle .search-container{
    background-color:#fff;
    border-radius: 15px;
    overflow:hidden;
    padding:5px;
}
.home-header-middle .search-container i {
    color: #ccc !important;
    line-height: 16px !important;
}
.home-header-middle .search-container input {
    font-size: 14px !important;
    font-weight: normal;
    
}