.city-list-container{
    background-color:#fff;
    padding:10px 15px 20px 15px;
}
.city-list-container .h3{
    font-size:16px;
}
.city-list-container ul{
    width:100%;
    display: block;
}
.city-list-container ul li{
    float:left;
    width:33.33%;
    text-align: center;
}
.city-list-container ul li span{
    display: inline-block;
    border: 1px solid #ccc;
    font-size:16px;line-height: 2;
    margin-top:15px;
    width:90%;
}